/*csslint universal-selector: false*/

* {
    box-sizing: border-box;
}


/******************************************************
GENERAL
**********************************************************/

body {
    font-family: 'Roboto Mono', ;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    /* background-image: url('../img/san.jpg');*/
    /*  background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0dug, #fff, transparent), #ffa949 url('../img/san.jpg');*/
    background: url('../img/san.jpg');
    /*    background-image: radial-gradient(#ffa949, firebrick);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /**** to change font size from px too em . Do this simple equation
    whatever the desired pixel is / 16.
    26px/16px = 
    ***/
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-top: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-right: 50px;
    padding-left: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid black;
}


/**ul li {
    margin-bottom: 5px;
}   **/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.Pizza {
    background-image: url('../img/toppings.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    border-top: 10px solid indianred;
    /**box shadow: 1st value is horizontal. 2nd is vertical. 3rd is blur. 4this spread-radius**/
    box-shadow: insent 0px 0px 50px 10px rgba(0, 0, 0, .8);
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    font-size: 1.25em;
    border-bottom: 30px solid;
    padding: 0 9px 3px;
    margin-top: 20px;
    display: inline-block;
}

#main-footer {
    border-bottom: solid 10px #434a52;
    padding-bottom: 60px;
    padding-top: 60px;
}


/**********************************************************
HEADLINE ELEMENTS & p elements
***********************************************************/

h1 {
    color: black;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    /******* Text shadow: 1st value is horizontal offset. 2nd value is vertical offset. 3rd value is blur. 4th is
    the color of the shadow  **********/
    text-shadow: 0 1px 1px rgba(0 0 0 .8);
    text-transform: uppercase;
}

h2 {
    color: black;
    font-size: 53px;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    color: coral;
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em
}


/**************************************************************************
FLOATED COLUMS
********************************************************************/

.pizzatruck,
.menu {
    width: 46.5%;
}

.pizzatruck {
    float: left;
}

.menu {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/**************************************************************************
COLORS
********************************************************************/

body {
    color: black;
}

.title {
    color: white;
}

.main-header {
    background-color: indianred;
}

.Pizza {
    background-color: #434a52;
    color: black;
}


/*css psuedo class*/

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: skyblue;
}

a:active {
    color: royalblue;
}


/**************************************************************************
MEDIA QUERIES
********************************************************************/

@media (max-width: 1024px) {
    .primary content,
    .seecondary-content {
        width: 90%;
    }
    .pizza {
        margin: 50px 0 20px;
        padding: 10% 12%;
    }
}

@media (max-width: 768px) {
    .primary-content,
    .secondary-content {
        border-top: none;
        padding: 20px;
        width: 100%;
    }
    .main-header {
        max-height: 380px;
        padding: 50px 25px 0;
    }
    .title {
        border: none;
        font-size: 1.3rem;
    }
    h1 {
        font-size: 5rem;
        line-height: 1.1;
    }
    .arrow {
        display: none;
    }
    .intro {
        font-size: 1rem;
    }
    .pizzatruck,
    .tips {
        float: none;
        width: 100%;
    }
    .main-footer {
        padding: 20px 0;
    }
}

@media (max-width: 375px) {
    h1 {
        font-size: 3rem;
    }
}

